<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <%if (htmlWebpackPlugin.options.ua !== '') { %>
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create',<%= htmlWebpackPlugin.options.ua %>,'auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <% } %>
  </body>
</html>
